body {
	background-image: url("../images/background.jpg");
}

#navbar {
	margin-bottom: 100px
}
.page-content {
	position: relative;
	margin-top: 115px;
}

.title {
	color: white;
	font-size: 4em;
	text-shadow: 1px 1px 1px black;
	font-family: 'Molengo', sans-serif;
}

.credits {
	color: white;
	font-family: 'Molengo', sans-serif;
	border-bottom: 1px solid white;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
.left {
	background-color: rgba(0,0,0,.55);
	border-radius: 6px;
}
pre {
	margin-left: 30px !important;
	width: 93%;
}
.subtitle {
	font-family: 'Molengo', sans-serif;
	font-size: 2.4em;
	color: white;
	border-bottom: 1px solid white;
	margin-left: 30px;
	margin-bottom: 25px;
	margin-top: 30px;
	width: 95%;
}
.content {
	margin: 22px auto;
	width: 95%;
	color: white;
	font-size: 1.3em;
}
.example {
	max-width: 300px;
	max-height: 300px;
	text-align: center;
	display: block;
	width: 50%;
	margin: auto;
}
.example1 {
	float: left;
	width: 50%;
	border-radius: 2px;
	margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 10px;
}
.formula {
	color: white;
	font-family: 'Molengo', sans-serif;
	font-style: italic;
	width: 90%;
	margin: auto;
	font-size: 2.0em;
}
.content-list {
	width: 95%;
	margin: 10px auto;
	font-size: 1.2em;
	color: white;
	font-family: 'Lekton', sans-serif;
}
