body {
	position: relative;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
a, p, h1, h2, h3 {
	font-family: 'Lekton', sans-serif;
	color: white;
}
#navbar {
	height: 5.2em;
	width: 100%;
	position: fixed;
	top: 0;
	line-height: 5.2em;
	left: 0;
	border-bottom: 1px solid white;
	z-index: 9999999;
	background-color: none;
	transition: all 0.3s ease-in-out;
}
#navbar.darken {
	line-height: 4.2em;
	height: 4.2em;
	background-color: rgba(0,0,0,0.85);
	border: none;
}
pre {
	margin: 15px auto;
}
.logo {
	float: left;
	text-decoration: none;
	color: white;
	margin-top: 4px;
	line-height: 2em;
	font-size: 2em;
	margin-left: 3em;
	padding: 3px 10px;
	transition: all 0.3s ease-in-out;
}
.logo.move {
	margin-top: 0px;
}
.logo:hover {
	color: white;
}
.menu {
	height: 100%;
	list-style-type: none;
	float: right;
	padding: 0 100px 0 0;
	margin: 0;
}
@media(max-width: 768px) {
	.item {
		display: none;
	}
}
@media(min-width: 768px) {
	.item {
		height: 100%;
		display: inline-block;
		text-align: center;
		text-decoration: none; 
		vertical-align: center;
	}
}
.item a {
	width: 100%;
	height: 100%;
	margin: 0 20px 0 20px;
	line-height: 58px;
	display: block;
	color: white;
	font-size: 1.3em;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
}
.item a:hover {
	text-decoration: underline;
	color: white;
}
.item a:visited {
	color: white;
}

.footer {
	margin: 40px auto 35px auto;
	width: 90%;
	height: 70px;
	border-top: 1px solid white;
	color: white;
	font-size: 1.2em;
	padding: 25px 50px;
}
@media(max-width: 768px) {
	.footer {
		margin-bottom: 160px;
	}
}
.copyright {
	text-align: center;
	line-height: 20px;
	margin: 30px 0px;
	font-family: 'Lekton', sans-serif;
	text-transform: uppercase;
	text-transform: none;
}
code {
	font-size: 1.3em !important;
}
ul.social-buttons {
  margin: 0 auto;
  text-align: center;
}
ul.social-buttons li a {
  display: block;
  background-color: rgba(0,0,0,0.55);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 45px;
  color: white;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: black;
}

.center {
	display: block;
	margin: auto;
	width: 50%;
	text-align: center;
}
.image-link {
	width: 2px;
}
.zoom {
	transition: all .5s ease-in-out;
	overflow: hidden;
}
.zoom:hover {
	overflow: hidden;
	-webkit-transform: scale(1.025);
	-moz-transform: scale(1.025);
	transform: scale(1.025);
}