body {
    background-color: #f9f9f9;
    color: #333;
    font-family: Roboto, sans-serif;
}

.container {
    padding: 400px;
    overflow: scroll;
}

label[for=name] {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

label[for=description] {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

textarea {
    color: black;
    height: 200px;
    width: 475px;
    overflow: scroll;
    font-size: 16px;
    display: block;
}

input[type=name] {
    display: block;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin-top: 19%;
    margin-left: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    color: black;
}

button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
